body {
  background: #f1f0ec image_url("white-bg.jpg") repeat-y 50% 0;
  color: #555555; }

.content_wrapper {
  width: 910px; }

#header {
  height: 72px;
  background: #f07c05; }
  #header h1 {
    color: white; }
    #header h1 a {
      width: 116px;
      height: 72px;
      display: block;
      text-decoration: none; }
      #header h1 a body {
        background: #f1f0ec image_url("white-bg.jpg") repeat-y 50% 0;
        color: #555555; }
      #header h1 a .content_wrapper {
        width: 910px; }
      #header h1 a #header {
        height: 72px;
        background: #f07c05; }
      #header h1 a #paging {
        background: black;
        height: 33px;
        padding: 15px 0 0 0; }
      #header h1 a #content {
        position: relative; }
        #header h1 a #content #previous {
          position: absolute;
          top: 0;
          left: 0;
          text-align: right; }
        #header h1 a #content #next {
          position: absolute;
          top: 0;
          right: 0;
          text-align: left; }
      #header h1 a .js #content {
        overflow: hidden;
        width: 100%; }
      #header h1 a .js #thread {
        padding: 0;
        width: 5000px;
        position: absolute; }
      #header h1 a .story {
        width: 810px;
        padding: 0 50px; }
        #header h1 a .story .information {
          border-bottom: 1px dotted #999999;
          margin-left: 40px; }
          #header h1 a .story .information .quote {
            color: #f27a00; }
            #header h1 a .story .information .quote blockquote {
              color: #f27a00;
              margin: 0;
              padding: 12px 18px;
              background: #f1f0ec; }
            #header h1 a .story .information .quote cite {
              display: block;
              padding: 0.5em 18px 1.5em 18px; }
          #header h1 a .story .information .disclosure {
            border-top: 1px dotted #999999; }
            #header h1 a .story .information .disclosure h5 {
              padding: 10px 0;
              margin: 0;
              color: #ed7c06; }
            #header h1 a .story .information .disclosure p {
              color: #a8a8a8; }
      #header h1 a #footer {
        background: white;
        width: 810px;
        padding: 20px 0; }
        #header h1 a #footer .inner {
          border-top: 8px solid black;
          padding: 30px 0; }
        #header h1 a #footer p {
          color: #b3b3b3; }
        #header h1 a #footer ul li {
          padding: 0 30px 0 0; }
          #header h1 a #footer ul li a {
            text-decoration: none;
            color: #ef7a06; }
